@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1 class="title">DealershipApp</h1>
        <h2>Login</h2>
        @if (ViewBag.Error != null)
        {
            <p class="error">@ViewBag.Error</p>
        }
        <form method="post" action="/Home/Login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">Login</button>
        </form>
        <p><a href="/Home/Register">Create a New Account</a></p>
    </div>
</body>
</html>
