<!DOCTYPE html>
<html>
<head>
    <title>Meniul Principal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h2>Meniul Principal</h2>
        <ul class="menu">
            <li><a href="/Home/ViewCars">Vezi Toate Mașinile</a></li>
            <li><a href="/Home/ViewClients">Vezi Toți Clienții</a></li>
            <li><a href="/Home/ViewSales">Vezi Toate Vânzările</a></li>
            <li><a href="/Home/AddClient">Adaugă Client</a></li>
            <li><a href="/Home/AddCar">Adaugă Mașină</a></li>
            <li><a href="/Home/AddSale">Adaugă Vânzare</a></li>
            <li><a href="/Home/Statistici">Statistici</a></li>
            <li><a href="/Home/MaiMulteDate">Mai Multe Date</a></li>

            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</body>
</html>
